@import "tailwindcss";

@theme {
	--backcolor: #040f1a;
	--backcolor-header-card: #0b1b2b;
	--font-default: #e7edf4;
	--font-base-text: #afc2d4;
	--font-base-span: #7b96b2;
}

html {
	background-color: var(--backcolor);
}

body {
	font-family: "Nunito", sans-serif;
}
